<h1>Log in</h1>

<% if flash[:error] %>
  <%= flash[:error]%>
<% end %>
<%= form_tag login_path do %>
  <%= label :username, "Username" %>
  <%= text_field_tag :username %><br>
  <%= label :password, "Password" %>
  <%= password_field_tag :password %><br>
  <%= submit_tag "Log in" %>
<% end %>
