<% if @user.errors %>
    <ul>
        <% @user.errors.full_messages.each do |message| %>
            <li> <%= message %> </li>
        <% end %>
    </ul>
<% end %>


<%= form_for @user do |f| %>
    <%= f.label :username, "Enter new username here" %> 
    <%= f.text_field :username %> <br>
    <%= f.label :password, "Enter new password here" %>
    <%= f.password_field :password %> <br> 
    <%= f.submit 'Update User' %>
<% end %>
