<% if @user.errors %>
    <ul>
        <% @user.errors.full_messages.each do |message| %>
            <li> <%= message %> </li>
        <% end %>
    </ul>
<% end %>


<%= form_for @user do |f| %>
    <%= f.label :username, "Enter Unique Username:" %> <br>
    <%= f.text_field :username %> <br>
    <%= f.label :password, "Create an alphanumeric password with 6 digits" %> <br>
    <%= f.password_field :password %> <br> <br>
    <%= f.submit 'Create User' %>
<% end %>
