<h1>Welcome, <%= @user.username %>! </h1>
<h3>Accounts</h3>
<ul>
  <%@user.accounts.each do |account|%>
    <li><div class="bank"><%= link_to account.bank.name, user_account_path(@user.id, account) %></div>
      <br>
      <%=" balance: #{account.balance}" %></li>
  <% end %>
</ul>

<%= button_to "Create new account", new_user_account_path(params[:id]), method: :get%>
<%= button_to "Edit user", edit_user_path(@user.id), method: :get %>
<%= button_to "Log out", logout_path, method: :get %>
