<h1>Initialize your transfer</h1>

<%= form_for @transfer do |f| %>
    <%= f.label :sender, "Receiver:" %>
    <%= f.collection_select(:transfer, :account_id, @transfer.sender.past_recipients, :id, :name, prompt: true) %> 
    <%= f.label :amount, "Transfer Amount:" %>
    <%= f.text_field :amount %>
<% end %>

