<div class="longheader"> <h1><%=@account.bank.name%></h1></div>

<h3>Account balance: <%= number_to_currency(@account.balance)%></h3> <br>

<%= link_to "Initiate a transfer", new_account_transfer_path(@account.id), class: "link" %>
<%= link_to "Request a loan", new_account_loan_path(@account.id), class: "link"%>
<%= link_to "See all loans", account_loans_path(@account.id), class: "link"%>
<%= link_to "View transfer history", account_transfers_path(@account.id), class: "link"%>

